//岗隆
/*$main-color0:#cc0001;
$main-color1:rgba(251,0,0,0.1);
$main-color2:rgb(238,175,61);
$main-color4:rgba(251,0,0,0.6);
$main-color5:rgba(251,0,0,0.7);*/

//农行
$main-color0:rgb(49,156,140);
$main-color1:rgba(49,156,140,0.1);
$main-color2:rgb(123,162,63);
$main-color4:rgba(49,156,140,0.6);
$main-color5:rgba(93,172,129);